###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.info
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Library/assetDatabase3
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
.vs/OfficialUnityGameBoard/v15/Server/sqlite3/storage.ide
.vs/OfficialUnityGameBoard/v15/Server/sqlite3/storage.ide-shm
.vs/OfficialUnityGameBoard/v15/Server/sqlite3/storage.ide-wal
Library/assetDatabase3
Library/metadata/52/52a206b72a8f4f749c28d8b18b42dd19
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
.vs/OfficialUnityGameBoard/v15/Server/sqlite3/storage.ide
.vs/OfficialUnityGameBoard/v15/Server/sqlite3/storage.ide-shm
.vs/OfficialUnityGameBoard/v15/Server/sqlite3/storage.ide-wal
Library/assetDatabase3
Library/metadata/00/00000000000000004000000000000000
Library/metadata/00/00000000000000006100000000000000
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
